body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

#chatbox {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
}

.botText, .userText {
    margin: 10px;
    display: flex;
}

.botText span {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.userText {
    justify-content: flex-end;
}

.userText span {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

#userInput {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

#text {
    width: calc(100% - 100px);
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

#send {
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

#send:hover {
    background-color: #0056b3;
}

.form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
